body{
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-size: 20px;
}

button{
    width:50px;
    height:50px;
    background: burlywood;
    
}

.bodyContainer{
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;

    border-color: gray;
    border-style: solid;
    border-radius: 10px;
    border-width: thick;
}

.calculatorContainer{
    display: flex;
    justify-content: top;
    align-items: center;
    flex-direction: column;
    border-color: blue;
    border-style: solid;
    border-radius: 10px;
    border-width: thick;
    width: fit-content;
    background: yellow;
    padding: 5px;
}

.buttonContainer{
    display:flex;

    padding: 5px;
    height: 100%;
}

.screenContainer{
    border: 3px solid green;
    background: white;
    display: flex;
    justify-content: center;
    align-items: top;
    flex-direction: column;
    width: 100%;
}
.screenItem{
    min-height: 30px;
    margin: 0;
    text-align: right;
}

.itemBox{
    width:50px
}

div.clearEquals{
    display: flex;
    flex-direction: column;
    height:100%;
}

button.clearEquals{
    height: 100px;
}